section .cards {
    width: 90%;
}

.cards {
    &__overline {
        font-family: $font-2;
        color: $color-1;
        font-weight: bold;
        letter-spacing: 5px;
        font-size: 1rem;
        text-align: center;
        margin-top: 3rem;
    }

    &__intro {
        width: 60vw;
        margin: 1rem auto 2rem;
    }

    &__title {
        font-family: $font-1;
        font-weight: 600;
        font-size: 1.8rem;
        text-align: center;
    }

    &__text {
        font-family: $font-2;
        font-size: 1rem;
        display: block;
        text-align: center;
    }

    &__container {
        @include dflex(row, center, stretch, wrap);
    }

    &__element {
        @include dflex(column, space-between, center, nowrap);
        height: 500px;
        min-width: min-content;
        max-width: 20%;
        border: 0.5px solid $color-3;
        border-radius: 3%;
        box-shadow: 5px 5px 3px hsla(197, 37%, 24%, 0.55);
        text-align: center;
        background-color: $color-4;
        margin-bottom: 2.7rem;

        // &--store{
        //     @include dflex(column, space-between, center, nowrap);
        //     height: min-content !important;
        //     border-radius: 7%;
        //     border: 0.5px solid $color-3;
        //     box-shadow: 5px 5px 3px hsla(197, 37%, 24%, 0.55);
        //     text-align: center;
        //     margin-top: 3%;
        //     padding: 5px;
        //     display: inline-block;
        //     }

        &:hover {
            transform: scale(1.05);
            transition-duration: 700ms;
        }

        &__circle {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            overflow: hidden;
            margin: 2rem;
        }

        &__name {
            font-family: $font-1;
            font-size: 1.4rem;
            font-weight: 600;
            align-self: flex-start;
            margin: auto;
        }

        &__price {
            font-family: $font-1;
            font-size: 1.4rem;
            font-weight: 600;
            align-self: flex-start;
            margin: auto;
        }

        &__profession {
            font-family: $font-1;
            font-size: 1.2rem;
            align-self: flex-start;
            margin: 0.5rem auto;
        }

        &__cantidad {
            font-family: $font-1;
            font-size: 1rem;
            align-self: flex-start;
            margin: 0.5rem auto;
        }

        &__image {
            border-radius: 7%;
            margin-top: 3%;
            padding: 5px;
            width: 90%;
            display: inline-block;
        }

        &__img__container {
            min-width: 200px;
        }

        &__text {
            height: 45%;
            margin: 0.5rem;
            font-family: $font-2;
            font-weight: lighter;
            font-style: italic;
            font-size: 0.8rem;
            padding-bottom: 1rem;
        }
    }

    &__button {
        background-color: $color-3;
        width: fit-content;
        margin: 1.2rem;
        padding: 4px 10px;
        border-radius: 3%;
        box-shadow: 2px 2px rgba(0, 0, 0, 0.326);

        a {
            font-family: $font-1;
            font-size: 0.8rem;
            color: $color-4;
        }

        &:hover {
            background-color: $color-1;
        }
    }
}

.articlesSection .cards__container {
    width: 90%;
    justify-content: center;
}

// .popup {
//     position: fixed;
//     top: 20%;
//     left: 20%;
//     transform: translate(-50%, -50%);
//     background-color: white;
//     padding: 20px;
//     border-radius: 10px;
//     box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
//     text-align: center;
//     color: black;
// }
// // #contenedor-pop-up{
// //     width: min-content;
// // }
// // #agregar:hover{
// //     cursor: pointer;
// // }

.agregar-btn{
    color: $color-4;
    font-weight: bold;

        &:hover{
            cursor: pointer;
        }
}
// .carrito-container{
//     @include dflex(column, space-between, center, nowrap);
//     justify-content: center;
//     margin: 1rem;
// }

// .carrito-img{
//     max-height: 90px;
//     min-height: 50px;
// }
// // .carrito-hide{
// //     display:none;
// // }
// .vaciar:hover{
//     cursor: pointer;
//     scale: 1.2;
//     transition: 500ms;
// }

.tienda__bar{
    max-height: 100px;
    position: sticky;
    padding: 0.5rem;
    top: 0rem;
    display: flex;
    background-color: $color-1;
    z-index: 1;
    &--img{
        height: 2rem;
        justify-content: left;    
    }
    &--text{
        font-family: $font-2;
        font-weight: 900;
        justify-content: center;
        outline: 0.05rem;
    }
}

.close-modal:hover{
    cursor: pointer;
}

.modal-content{
    background-color: $color-1;
    // box-shadow: 5px 5 px black;
}
.modal-body{
    background-color: #fff;
}

#tabla-carrito{
    margin: auto;
    & th{
        padding: 0.5rem;
    }
}
td{
    text-align: center;
}


.modal-nombre{
    text-align: left;
}
.modal-footer{
    justify-content: center;
}